
<footer id="footer">

    
    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        
        <div class="credits">
            <div class="row">
                <div class="col-md-4">
                    <h4>Trang đặt tour du lịch Vokala</h4>
                </div>
                <div class="col-md-4">
                    <h5>Danh sách sinh viên</h5>
                    <ul class="list-unstyled text-small">
                        <li>Tên: Thái Đoàn Mai Phương</li>
                        <li>MSSV: 18086291</li>
                        <li>Email: mphuong2042@gmail.com</li>
                        <hr />
                        <li>Tên: Võ Kim Hằng</li>
                        <li>MSSV: 18086311</li>
                        <li>Email: vokimhang170300@gmail.com</li>
                        <li>
                        <hr />
                        <li>Tên: Chu Thanh Son</li>
                        <li>MSSV: 18028221</li>
                        <li>Email: thanhson3133@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Liên kết</h5>
                    <ul class="list-unstyled text-small">
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Zalo</li>
                    </ul>
                </div>
                
            </div>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->