<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">VOKALA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-nowrap dropdown active">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Danh mục
                </a>
                <div class="dropdown-menu bg-dark">
                    <a class="nav-link" href="#">Tour miền Bắc</a>
                    <a class="nav-link" href="#">Tour miền Trung</a>
                    <a class="nav-link" href="#">Tour miền Nam</a>
                </div>
            </li>
            <li class="nav-item text-nowrap active"><a class="nav-link" href="#">Cẩm nang du lịch</a></li>
            <li class="nav-item text-nowrap active"><a class="nav-link" href="#">Ưu đãi</a></li>
            <li class="nav-item text-nowrap active"><a class="nav-link" href="#">Giới thiệu</a></li>
        </ul>
        <div class="nav-item dropdown mt-2 mt-md-0">
            <a class="nav-link dropdown " href="#" id="dropdown02" data-toggle="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                Tài khoản
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="dropdown02">
                <a class="nav-link" href="/dangnhap">Đăng nhập</a>
                <a class="nav-link" href="/dangki">Đăng kí</a>
            </div>
        </div>
    </div>
</nav>