<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">5 cách làm đẹp da tại nhà với nguyên liệu tự nhiên sẵn có.</h2>
        <p class="lead">Các cô gái chắc chắn sẽ băn khoăn và khó lựa chọn sản phẩm tốt nhất. Thế nhưng, những loại sản
            phẩm từ tự nhiên vẫn là sự lựa chọn hàng đầu của các cô gái cho da mặt của mình vì tính chất an toàn, hiệu
            quả, lại rẻ của sản phẩm.</p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" width="500" height="900"
            src="../images/bt1.jpg" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Mẹo làm đẹp cực hay bằng thìa inox</h2>
        <p class="lead">Chỉ với một chiếc thìa inox bạn có thể làm đẹp đủ kiểu luôn rồi đấy. Giảm bọng mắt và làm mờ vết
            bầm tức thì</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" width="500" height="900"
            src="../images/bt2.jpg" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">6 mẹo làm đẹp da tiết kiệm nhất</h2>
        <p class="lead">Có rất nhiều loại thực phẩm có lợi cho da. Nhưng 6 mẹo làm đẹp từ thực phẩm dưới đây được cho là
            tuyệt vời và tiết kiệm nhất mà có thể bạn chưa hề nghe nhắc tới. Kiểm tra ngay!</p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500" src="../images/bt3.jpg" />
    </div>
</div>

<hr class="featurette-divider">