<div class="album py-5 bg-light">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" id="sp" width="100" height="310" src="../images/<%- sanpham.Image %>" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="tensp"><%- sanpham.Name %></h5>
                    <h5><%- sanpham.Cost %></h5>
                    <form class="horizontal-form">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <label class="label-control col-xs-3 col-sm-3 col-md-3 col-lg-3" for="tinhtrang">Tình
                                trạng</label>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" id="tt" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label-control col-xs-3 col-sm-3 col-md-3 col-lg-3" for="soluong" id="sl">Số
                                lượng</label>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="number" name="" min="0" placeholder="0">
                            </div>
                        </div>
                        <button class="btn btn-outline-success mb-4 ml-3">
                            Thêm vào giỏ hàng
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text"><%- sanpham.Mota %></p>
    </div>
</div>